//
$main-color: #e6f4fd;
$sub-color1: #81969c;
$sub-color2: #3e1bdb;
$sub-color3: #a0d5e6;
$s: 1;
$w: 10;
$i: 10%;
$rem: 1rem;
$main-width: 960px;
$max-width: 768px;

html {
    font-family: Helvetica, sans-serif;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
h1, h2, h3, h4, h5, p, span {
    max-width: $max-width;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.rf-auto {
    margin-left: auto;
    margin-right: auto;
}
.flex {
    display: flex;
}
.inline-block {
    display: inline-block;
}
.flex-center {
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.fiexd {
    position: fixed;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.justify-content {
    justify-content: center;
}
.content {
    flex-flow: column;
    margin: 0 auto;
    min-height: 100vh;
}
.main-width {
    width: $main-width;
}
.hero {
    margin: 0 auto;
}
@while $w <= 100 {
    .w-#{$w} {
        width: #{$i};
    }
    $i: $i + 10%;
    $w: $w + 10;
}
.m-auto {
    margin: 0 auto;
}
.m-0 {
    margin: 0;
}
.mt-0 {
    margin-top: 0;
}
.ml-0 {
    margin-left: 0;
}
.mr-0 {
    margin-right: 0;
}
.mb-0 {
    margin-bottom: 0;
}
@while  $s <= 5 {
    .m-#{$s} {
        margin: $rem;
    }
    .mt-#{$s} {
        margin-top: $rem;
    }
    .ml-#{$s} {
        margin-left: $rem;
    }
    .mr-#{$s} {
        margin-right: $rem;
    }
    .mb-#{$s} {
        margin-bottom: $rem;
    }
    $s: $s + 1;
    $rem: $rem + 1rem;
}
.p-0 {
    padding: 0;
}
.pt-0 {
    padding-top: 0;
}
.pl-0 {
    padding-left: 0;
}
.pr-0 {
    padding-right: 0;
}
.pb-0 {
    padding-bottom: 0;
}
@while  $s <= 5 {
    .p-#{$s} {
        padding: $rem;
    }
    .pt-#{$s} {
        padding-top: $rem;
    }
    .pl-#{$s} {
        padding-left: $rem;
    }
    .pr-#{$s} {
        padding-right: $rem;
    }
    .pb-#{$s} {
        padding-bottom: $rem;
    }
    $s: $s + 1;
    $rem: $rem + 1rem;
}
.tc-black {
    color: black;
}
.tc-white {
    color: white;
}
.tc-black3 {
    color: #333;
}
.tc-e6f4fd {
    color: $main-color;
}
.tc-81969c {
    color: $sub-color1;
}
.tc-3e1bdb {
    color: $sub-color2;
}
.tc-fafafa {
    color: #fafafa;
}
.tc-fcfcfc {
    color: #fcfcfc;
}
.tc-a0d5e6 {
    color: $sub-color3;
}
.bc-e6f4fd {
    background-color: $main-color;
}
.bc-81969c {
    background-color: $sub-color1;
}
.bc-3e1bdb {
    background-color: $sub-color2;
}
.bc-a0d5e6 {
    background-color: $sub-color3;
}

// line hight
.line-1 {
    line-height: 1;
}
.line-11 {
    line-height: 1.1;
}
.line-12 {
    line-height: 1.2;
}
.line-13 {
    line-height: 1.3;
}
.line-14 {
    line-height: 1.4;
}
.line-15 {
    line-height: 1.5;
}
.line-16 {
    line-height: 1.6;
}
.line-17 {
    line-height: 1.7;
}
.line-18 {
    line-height: 1.8;
}
.line-19 {
    line-height: 1.9;
}
.line-2 {
    line-height: 2;
}

// nav bar
#headerNav {
    background-color: darkkhaki;
    padding: 1.8rem;
    top: 0;
    left: 0;
    z-index: 9999;
    a img {
        height: 2.145rem;
    }
    .l-header_menu {
        display: flex;
        justify-content: center;
        width: calc(100% - 500px);
        .l-header_menu_item  {
            a {
                padding: 10px 25px;
                font-size: 1rem;
                color: white;
            }
        }
    }
    .l-header_menu_sub {
        position: relative;
        display: flex;
        justify-content: flex-end;
        .l-header_menu_sub_item  {
            a {
                padding: 10px 20px;
                font-size: 12px;
                color: white;
            }
            a::after {
                content: '';
                width: 1px;
                height: 16px;
                top: 2px;
                right: 0;
                position: absolute;
                background-color: white;
            }
        }
    }
}

//loginContent
#loginContent {
    min-height: 100vh;
    background-image: url('../images/trot-bc.jpg');
    background-size: cover;
    #loginFormContent {
        width: 450px;
        margin-top: 50px;
        padding: 20px 40px;
        background: rgba(0, 0, 0, 0.2);
        form div {
            padding: 5px;
            input {
                width: 100%;
                height: auto;
                padding: 12px;
                border: none;
                outline: none;
            }
            #loginButton {
                background-color: darkkhaki;
                color: white;
            }
        }
        a {
            color: white;
        }
    }
}

@keyframes rotate_anime {
    0% {
        -webkit-transform: rotateY(0deg) rotateZ(20deg) translate(0px, 50px);
        -ms-transform: rotateY(0deg) rotateZ(20deg) translate(0px, 50px);
        -moz-transform: rotateY(0deg) rotateZ(20deg) translate(0px, 50px);
    }
    100% {
        -webkit-transform: rotateY(360deg) rotateZ(20deg) translate(0px, 50px);
        -ms-transform: rotateY(360deg) rotateZ(20deg) translate(0px, 50px);
        -moz-transform: rotateY(360deg) rotateZ(20deg) translate(0px, 50px);
    }
}

// upparContent
#upparContent {
    #topContent {
        min-height: 100vh;
        background-image: url('../images/trot-bc.jpg');
        background-size: cover;
        #titleContent {
            text-align: center;
            margin: 0 auto;
            padding: 100px 50px;
            #titleMsg {
                text-align: left;
                p {
                    width: 70%;
                    background: rgba(0, 0, 0, 0.3);
                    padding: 15px;
                }
            }
            #titleImg {
                animation: rotate_anime 6s infinite;
            }
        }
    }
}

#ticketContent {
    min-height: 100vh;
    background-image: url('../images/trot-bc.jpg');
    background-size: cover;
}

